<div class="container-fluid">
    <div class="row">
        <div id="footer-left" class="col-xs-12 col-md-12 col-lg-6">
            <ul>
                <li id="list-links" style="padding-top: 60px;">eStetoskop - projekat za kurs <i>Veb programiranje</i></li>
                <li id="list-links">Autor: Nevena Jurić, 82/2015</li>
                <li id="list-links">Matematički fakultet, Univerzitet u Beogradu</li>
                <li id="list-links">Pratite nas i na:
                    <table id="tb-follow">
                        <tr>
                            <th style="padding: 10px;">
                                <a href="https://www.facebook.com/matematicki.fakultet" target="_blank">
                                    <i class="fab fa-facebook fa-2x d-block"></i>
                                </a>
                            </th>
                            <th style="padding: 10px;">
                                <a href="https://www.instagram.com/matematickifakultet" target="_blank">
                                    <i class="fab fa-instagram fa-2x d-block"></i>
                                </a>
                            </th>
                            <th style="padding: 10px;">
                                <a href="https://twitter.com/matematicki" target="_blank">
                                    <i class="fab fa-twitter fa-2x d-block"></i>
                                </a>
                            </th>
                            <th style="padding: 10px;">
                                <a href="http://www.matf.bg.ac.rs" target="_blank">
                                    <i class="fas fa-university fa-2x d-block"></i>
                                </a>
                            </th>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div id="footer-right" class="col-xs-12 col-md-12 col-lg-6">
            <p id="footer-text">Korisni linkovi:</p>
            <ul>
                <li id="list-links">
                    <a href="http://www.zdravlje.gov.rs" target="_blank">Ministarstvo zdravlja</a>
                </li>
                <li id="list-links">
                    <a href="http://www.kcs.ac.rs" target="_blank">Klinički centar Srbije</a>
                </li>
                <li id="list-links">
                    <a href="http://www.mfub.bg.ac.rs" target="_blank">Medicinski fakultet</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="end" class="col-xs-12 col-md-12 col-lg-12">
    <div id="centered" class="col-xs-12 col-md-12 col-lg-12">
        <p id="end_text">Copyright &copy Nevena Jurić</p>
    </div>
</div>