<header class="header-inner">
        <div class="header-item image-3"></div>
    <div class="header-cover">
        <i class="fas fa-user-md fa-7x"></i>
        <h1 id="display-text" class="display-2">Pravilna ishrana</h1>
    </div>
</header>

<div class="container-fluid" id="main-collapse">
        <div class="row" style="position: relative; bottom: 50px">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-one">Šta je piramida ishrane?</button>
                <div class="text-collapse" id="collapse-one-text">- Načela piramide pravilne ishrane zasnivaju se na pravilima ravnoteže, 
                    umerenosti i raznovrsnosti dnevne ishrane.Piramida hranu razvrstava u šest različitih kategorija 
                    namirnica koje bi u ishrani trebalo da budu zastupljene svaki dan:
                    <ol>
                        <li>
                            <strong>Fizička aktivnost:</strong>
                            <br>
                            Svakodnevna fizička aktivnost od 30 minuta više je nego poželjna u očuvanju zdravog duha i jačeg imuno sistema. 
                            Dakle, šetajte, izbegavajte lift, igrajte neki sport, vozite bicikl pored reke.
                        </li>
                        <li>
                            <strong>Žitarice:</strong>
                            <br>
                            U ovu kategoriju spadaju namirnice poput hleba od žitarica sa celim zrnom, testenina, pirinač i sl. 
                            Žitarice je dozvoljeno konzumirati čak šest do jedanaest puta dnevno.
                        </li>
                        <li>
                            <strong>Povrće:</strong>
                            <br>
                            Poželjno je konzumirati dve do tri porcije u svežem ili kuvanom obliku. Izvorom energije smatra se povrće poput kukuruza ili krompira, 
                            kao i tamnozeleno lisnato povrće i ono crveno poput šargarepe.
                        </li>
                        <li>
                            <strong>Voće:</strong>
                            <br>
                            Dnevno se preporučuju dve do tri porcije voća, koje bi trebalo da bude raznoliko. Voće kao što su jabuke, šljive, pomorandže, 
                            borovnice ili grejpfrut zadovoljiće dnevne količine koje stručnjaci savetuju.
                        </li>
                        <li>
                            <strong>Meso i mahunarke:</strong>
                            <br>
                            Konzumirati meso sa niskim sadržajem masti. Dnevno se preporučuju dve porcije mesa, mesnih proizvoda i mahunarki. 
                            Obratite pažnju da se u ishrani nalaze namirnice koje sadrže visok nivo omega 3 masnih kiselina kao što je npr. riba.
                        </li>
                        <li>
                            <strong>Mlečni proizvodi:</strong>
                            <br>
                            Vredan izvor kalcijuma, koji nam je svakodnevno potreban za rast, razvoj i održavanje koštane mase.
                            Konzumirati mleko i mlečne proizvode sa smanjenim procentom masti.
                        </li>
                        <li>
                            <strong>Masti:</strong>
                            <br>
                            Pametno ograničite upotrebu zasićenih masnih kiselina. Inače, masti koje dolaze iz izvora hrane poput ribe, koštunjavih plodova i biljnih ulja 
                            predstavljaju prirodan izvor vitamina E i nezasićenih masnih kiselina, što znači da povoljno deluju na zdravlje.
                        </li>
                        <li>
                            <strong>Slatkiši:</strong>
                            <br>
                            Grickalice i slatkiši su jedni od najvećih neprijatelja vitke linije, zbog čega se i nalaze na samom vrhu piramide namirnica koje su 
                            najrizičnije za pojavu gojaznosti. Njihovo unošenje u organizam strogo ograničite.
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-two">BMI kalkulator</button>
                <div class="text-collapse" id="collapse-two-text">
                    - Indeks telesne mase (BMI) nam pokazuje odnos između težine i visine našeg tela. 
                    U zavisnosti od rezultata merenja i u odnosu na vaše godine i pol, naš BMI kalkulator vam daje 
                    informaciju o tome da li imate normalnu težinu ili ne.
                    <br>
                    - BMI tabela pokazuje različite kategorije telesne težine prema godinama života i daje vam informaciju o 
                    tome da li ste na granici neke druge kategorije. BMI će vam pokazati da se nalazite u okviru normalne težine, 
                    ali da se npr. približavate prekomernoj ili smanjenoj telesnoj težini.
                    <br>
                    <br>
                    <div id="display">Tabelu sa BMI vrednostima možete pogledati <a href='document/Starost.pdf' download>ovde.</a></div>
                    <br>
                    <div id="table-bmi">
                    <table class = "table">
                        <thead>
                            <tr>
                                <th scope="col">Starost</th>
                                <th scope="col">Smanjena telesna težina</th>
                                <th scope="col">Normalna težina</th>
                                <th scope="col">Gojaznost</th>
                                <th scope="col">Gojaznost (adipositas)</th>
                                <th scope="col">Jaka gojaznost</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                                <th scope="row">18-24</th>
                                <td>&lt 19</td>
                                <td>19-24</td>
                                <td>24-29</td>
                                <td>29-39</td>
                                <td>&gt 39</td>
                        </tr>
                        <tr>
                                <th scope="row">25-34</th>
                                <td>&lt 20</td>
                                <td>20-25</td>
                                <td>25-30</td>
                                <td>30-40</td>
                                <td>&gt 40</td>
                        </tr>
                        <tr>
                                <th scope="row">35-44</th>
                                <td>&lt 21</td>
                                <td>21-26</td>
                                <td>26-31</td>
                                <td>31-41</td>
                                <td>&gt 41</td>
                        </tr>
                        <tr>
                                <th scope="row">45-54</th>
                                <td>&lt 22</td>
                                <td>22-27</td>
                                <td>27-32</td>
                                <td>32-42</td>
                                <td>&gt 42</td>
                        </tr>
                        <tr>
                                <th scope="row">55-64</th>
                                <td>&lt 23</td>
                                <td>23-28</td>
                                <td>28-33</td>
                                <td>33-43</td>
                                <td>&gt 43</td>
                        </tr>
                        <tr>
                                <th scope="row">65+</th>
                                <td>&lt 24</td>
                                <td>24-29</td>
                                <td>29-34</td>
                                <td>35-44</td>
                                <td>&gt 44</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                    - Izračunajte Vaš BMI.
                    <br>
                    <br>
                    <label for="masa">Masa u Kg:</label>
                    <input id="masa" name="masa" type='text'>
                    <br>
                    <label for="visina">Visina u cm:</label>
                    <input id="visina" name="visina" type='text'>
                    <br>
                    <br>
                    <input id="calculate" type="button" value="Izračunaj">
                    <br>
                    <br>
                    <label for="bmi">Vaš BMI: </label>
                    <input id="bmi" name="bmi" type='text' readonly>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-three">Vitamini</button>
                <div class="text-collapse" id="collapse-three-text">
                    - Vitamini su prirodne supstance u hrani, 
                    neophodne telu da bi moglo savršeno da funkcioniše. Svaki vitamin ima svoju ulogu u organizmu.
                    <br>
                    - Vitamini su uglavnom aktivni u razvoju nervnog sistema, vida, 
                    brojnih reakcija u organizmu, ali i u mineralizaciji kostiju.
                    <br>
                    - Postoje dve grupe vitamina: oni koji se rastvaraju u vodi (vitamin C i svi vitamini B kompleksa) 
                    i oni koji se rastvaraju u masnoći (vitamin A,D,E i K).
                    <br>
                    <br>
                    <ol>
                        <li>
                            <strong>Vitamin A i njegov provitamin KAROTEN</strong>
                            <br>
                            Dnevne potrebe su od jednog do dva mg. U većim količinama sadrži ga zeleno povrće, 
                            posebno spanać i kelj, šargarepa, paradajz, peršun, grašak, mleko i punomasni mlečni proizvodi, 
                            suvo i uljasto voće, citrusi, banane, breskve, trešnje, jaja, džigerica, žitarice, riblje ulje.
                        </li>
                        <li>
                            <strong>Vitamin B1</strong>
                            <br>
                            Dnevne potrebe su oko tri mg. U većim količinama sadrži ga kvasac, 
                            semenje žitarica, orasi, lešnici, mahunarke, kukuruzno brašno, šunka, spanać, šargarepa, lišće repe, grejpfrut.
                        </li>
                        <li>
                            <strong>Vitamin B2 (F, G)</strong>
                            <br>
                            Dnevne potrebe su oko dva mg. U većim količinama sadrži ga: maslinovo ulje, pečurke, teleće iznutrice, 
                            punomasni sir, peršun, šargarepa, celer sa lišćem, zelena paprika, spanać, kelj.
                        </li>
                        <li>
                            <strong>Vitamin B6</strong>
                            <br>
                            Dnevne potrebe su oko šest 6 mg. U većim količinama sadrže ga: krompir, banane, šargarepa, 
                            mahunarke, suvi kvasac, spanać, pšenica, kikiriki, kelj, limun, kruške, losos, jetra, lešnici, svinjsko meso.
                        </li>
                        <li>
                            <strong>Folna kiselina/PGA (BC, vit. M)</strong>
                            <br>
                            Dnevne potrebe su pet mg. U većim količinama sadrži ga: spanać, jetra, kvasac, pomorandže, 
                            peršun, šargarepa, krompir, pšenica, kikiriki, krastavci, banane, trešnje, limun, prokelj. 
                        </li>
                        <li>
                            <strong>Vitamin B12</strong>
                            <br>
                            Dnevne potrebe su 3 µg. U većim količinama sadrži ga: džigerica, bubrezi, riba, mleko, jaja, mišići.
                        </li>
                        <li>
                            <strong>Vitamin C</strong>
                            <br>
                            Dnevne potrebe su 100 mg. U većim količinama sadrži ga kupus, spanać, paprika, paradajz, citrusi, ribizla, jagode, karfiol, 
                            šipak, kelj, ren, keleraba, luk, rotkvice, teleće iznutrice, peršun, prokelj, borovnice, artičoke, kopriva. 
                        </li>
                        <li>
                            <strong>Vitamin D</strong>
                            <br>
                            Dnevne potrebe su 2,5 – 10 µg. U većim količinama sadrži ga maslinovo ulje, mleko, riblje ulje, sardine, jegulja, haringa, 
                            džigerica, jaja, spanać, repa, kupus, šargarepa, salate, tunjevina. 
                        </li>
                        <li>
                            <strong>Vitamin E </strong>
                            <br>
                            Dnevne potrebe su 12 mg. U većim količinama sadrži ga: mleko, pšenične klice, biljna ulja, jaja, orasi, 
                            bademi, lešnici, zeleno povrće, posebno salata potočarka, džigerica. 
                        </li>
                        <li>
                            <strong>Vitamin K</strong>
                            <br>
                            Dnevne potrebe su 1,5 mg. U većim količinama sadrži ga: kupus, spanać, paradajz, soja, karfiol, 
                            šargarepa sa lišćem, prokelj, celovite žitarice, mleko, narandže, kopriva. 
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                    <button type='button' class="collapse-button" id="collapse-four">Voćni miksevi</button>
                    <div class="text-collapse" id="collapse-four-text">
                        - Muči Vas manjak energije i višak kilograma... Probajte neki od sledećih mikseva :)
                        <br>
                        <br>
                        <strong>Miks šumsko voće</strong>
                        <br>
                        <br>
                        <i>Potrebno je:</i>
                        <br>
                        <ul>
                            <li>1 šolja mleka po izboru</li>
                            <li>pola šolje smrznutog šumskog voća</li>
                            <li>pola šolje svežih jagoda</li>
                            <li>pola šolje svežih malina ili borovnica</li>
                            <li>1 kašičica čia semenki</li>
                            <li>2 kašike kokosovog brašna</li>
                            <li>pola kašičice arome vanile</li>
                        </ul>
                        <i>Priprema:</i>
                        <br>
                        Pomešajte sastojke, ostavljajući sa strane četvrtinu svežeg voća. 
                        Izmiksajte ih u blenderu, dok ne dobijete glatku smuti teksturu. 
                        Smuti stavite u posudu, dodajte mu preostalo sveže voće i pospite prstohvatom kokosovog brašna i čia semenkama.
                        <br>
                        <br>
                        <b>Jesenji osveživač</b>
                        <br>
                        <br>
                        <i>Potrebno je:</i>
                        <br>
                        <ul>
                            <li>3 kruške</li>
                            <li>2 breskve</li>
                            <li>1 jabuka</li>
                            <li>1/2 limuna, oljuštenog</li>
                        </ul>
                        <i>Priprema:</i>
                        <br>
                        U sokovniku iscediti sve sastojke. Sipati u čašu.
                        <br>
                        <br>
                        <b>Beta karo</b>
                        <br>
                        <br>
                        <i>Potrebno je:</i>
                        <br>
                        <ul>
                            <li>3 šargarepe</li>
                            <li>3 kajsije</li>
                            <li>3 breskve</li>
                        </ul>
                        <i>Priprema:</i>
                        <br>
                        U sokovniku iscediti sve sastojke. Sipati u čašu.
                        <br>
                        <br>
                        <b>Čudesni zeleni sok</b>
                        <br>
                        <br>
                        <i>Potrebno je:</i>
                        <br>
                        <ul>
                            <li>1 manja glavica celera</li>
                            <li>1 krastavac</li>
                            <li>2-3 veća lista kelja</li>
                            <li>1 limun</li>
                            <li>1 kašika svežeg izredanog đumbira</li>
                            <li>1/2 šolje sitnog prokelja</li>
                            <li>1 šolja peršuna</li>
                            <li>2 kruške</li>
                        </ul>
                        <i>Priprema:</i>
                        <br>
                        U sokovniku iscediti sve sastojke. Sipati u čašu.
                        <br>
                    </div>
                </div>
    </div>
</div>

<script src="scripts/collapse.js"></script>
