<header class="header-inner">
        <div class="header-item image-1"></div>
    <div class="header-cover">
        <i class="fas fa-user-md fa-7x"></i>
        <h1 id="display-text" class="display-2">eStetoskop</h1>
    </div>
</header>

<div class="container-fluid">
    <div style="background-color: rgb(248, 249, 250);" class="row justify-content-center">
        <div id="card-1" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="fab fa-apple fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Pravilna ishrana</h2>
            <p id="card-text">Kako treba da se pravilno hranimo...</p>
            <button type="button" data-page="food" class="card-button">Vidi više</button>
        </div>
        <div id="card-2" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="fas fa-vials fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Laboratorijski nalaz</h2>
            <p id="card-text">Značenje nalaza...</p>
            <button type="button" data-page="lab" class="card-button">Vidi više</button>
        </div>
        <div id="card-3" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="fas fa-user-md fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Lekari</h2>
            <p id="card-text">Prijavljivanje lekara</p>
            <button type="button" data-page="register" class="card-button">Prijavi se</button>
        </div>
        <div id="card-4" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="fas fa-user-plus fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Pacijenti</h2>
            <p id="card-text">Prijavljivanje pacijenata</p>
            <button type="button" data-page="register" class="card-button">Prijavi se</button>
        </div>
        <div id="card-5" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="fas fa-capsules fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Pregled</h2>
            <p id="card-text">Pregled pacijenata</p>
            <button type="button" data-page="overview" class="card-button">Vidi više</button>
        </div>
        <div id="card-6" class="col-xs-6 col-md-12 col-lg-3 main-card">
            <div id="icon">
                <i class="far fa-address-card fa-10x d-block m-3 icon-main"></i>
            </div>
            <h2 id="card-title">Karton</h2>
            <p id="card-text">Pregled svog kartona</p>
            <button type="button" data-page="cardboard" class="card-button">Vidi više</button>
        </div>
</div>

<script src="scripts/home.js"></script>