<header class="header-inner">
        <div class="header-item image-2"></div>
    <div class="header-cover">
        <i class="fas fa-user-md fa-7x"></i>
        <h1 id="display-text" class="display-2">Laboratorijski nalaz</h1>
    </div>
</header>

<div class="container-fluid" id="main-collapse">
        <div class="row" style="position: relative; bottom: 50px">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-one">Priprema za dolazak u laboratoriju</button>
                <div class="text-collapse" id="collapse-one-text">- Za većinu laboratorijskih analiza poželjno je:
                        <ul>
                            <li>da pacijent gladuje 12-14 sati pre uzimanja krvi</li>
                            <li>da pacijent pre vađenja krvi ne uzima lekove koji mogu uticati na rezultat</li>
                            <li>izbegavati fizički napor dva do tri dana pre davanja krvi</li>
                            <li>na analizu doneti prvi jutarnji urin u sterilnoj apotekarskoj bočici</li>
                        </ul>
                        <br>
                        - Preporuka je da se krvna slika, pregled mokraće i osnovne analize rade jedanput do dva puta godišnje, 
                        ukoliko pacijent nema zdravstvene tegobe. 
                        Te analize će poslužiti lekaru da prati zdravstveno stanje pacijenta. 
                        Ukoliko pacijent ima zdravstvene tegobe, tada lekar, po potrebi, upućuje pacijenta u laboratoriju i 
                        daje savet koje analize treba uraditi.
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-two">Kompletna krvna slika (KKS)</button>
                <div class="text-collapse" id="collapse-two-text">
                        <strong>Kompletna krvna slika</strong> se radi zbog procene opšteg zdravstvenog stanja i otkrivanja raznovrsnih 
                        poremećaja poput anemija, infekcija, stanja uhranjenosti organizma i izloženosti otrovnim materijama. 
                        KKS uključuje <strong>broj eritrocita, leukocita i trombocita, eritrocitne konstante (MCV, MCH, MCHC, RDW), 
                        trombocitne konstante (MPV, PDW), diferencijalnu krvnu sliku (podvrste leukocita: neutrofili, 
                        eozinofili, bazofili, monociti, limfociti), hemoglobin i hematokrit.</strong>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                <button type='button' class="collapse-button" id="collapse-three">Eritrociti i eritrocitne konstante</button>
                <div class="text-collapse" id="collapse-three-text">
                        <strong>Eritrociti – crvena krvna zrnca (RBC)</strong>, su najzastupljenije ćelije,
                        a uloga im je da transportuju kiseonik vezan za hemoglobin iz pluća do drugih tkiva.
                        <br> 
                        <strong>Normalne</strong> vrednosti su od <strong>3,86 x 1012/l do 5,08 x 1012/l</strong> 
                        za ženu i od <strong>4,34 x 1012/l do 5,72 x 1012/l za muškarce</strong>.
                        <br>
                        <strong>Snižene vrednosti</strong> su najčešće znak anemije ili gubitka krvi usled krvarenja.
                        <br>
                       <strong>Povišene vrednosti</strong> mogu biti povećane u stanjima hemokoncentracije organizma, 
                       kod policitemija, ali i kod zdravih ljudi.
                       <br>
                       <strong>Eritrocitne konstante</strong> se izračunavaju iz broja eritrocita, 
                       koncentracije hemoglobina i hematokrita i 
                       daju informaciju o kvalitetu eritrocita.

                       <br>

                       <strong>MCV (mean cell volume) – prosečni volumen eritrocita</strong> – daje informaciju o veličini eritrocita. 
                       Normalne vrednosti su 81 – 99 fl.
                       <br>
                       <strong>MCH (mean cell hemoglobin)</strong> – prosečna količina hemoglobina u eritrocitu. 
                       Normalne vrendosti su 29-32.9 pg.
                       <br>
                       <strong>MCHC (mean cell hemoglobin concentration)</strong> – prosečna koncentracija hemoglobina 
                       na litar eritrocita. 
                       Normalne vrednosti su 310 – 350 g/l.
                       <br>
                       <strong>RDW (red cell distribution width)</strong> – mera varijabilnosti veličine eritrocita. 
                       Normalne vrednosti su 11,5-16,5 %. RDW specifično ukazuje na postojanje jedne ili 
                       više populacija eritrocita što je karakteristika pojedinih hematoloških bolesti eritrocitne loze, 
                       a ujedno je i važan prognostički pokazatelj efikasnosti lečenja i ekvivalentan podatak o 
                       anizocitozi koja se uočava u krvnom razmazu.
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                    <button type='button' class="collapse-button" id="collapse-four">Leukociti i leukocitne konstante</button>
                    <div class="text-collapse" id="collapse-four-text">
                            <strong>Leukociti (WBC)</strong>, bela krvna zrnca, se stvaraju u koštanoj srži i 
                            štite organizam od infekcija. 
                            Učestvuju u imunom odgovoru. Postoji pet različitih vrsta belih krvnih zrnaca; 
                            sve one su deo odbrane organizma protiv najezde infektivnih i drugih štetnih materija.
                            <br>
                            <strong>Normalne vrednosti su 3.9 – 10×109/l.</strong> Kada je njihov broj uvećan (leukocitoza), 
                            to ukazuje da telo proizvodi veći broj ovih ćelija, odnosno da je napadnuto, na primer bakterijama. 
                            Ako je njihov broj manji, povećava se rizik od infekcije.
                            <br>
                            <strong>Nekontrolisana produkcija belih ćelija (leukemija)</strong> 
                            nastaje usled kancerozne mutacije mijelogenih ili 
                            limfogenih ćelija. Leukopenija, smanjenje broja belih krvnih zrnaca, javlja se kod virusnih infekcija, 
                            u stresnim situacijama, kod opšte slabosti organizma, kao i kod pacijenata na radioterapiji. 
                            Uzimanje pojedinih lekova takođe može da dovede do smanjenja broja belih krvnih zrnaca i zato se 
                            kod takvih pacijenata moraju sprovoditi redovne laboratorijske analize.
                            <br>
                            <strong>Neutrofilni granulociti (NEU)</strong> su najzastupljeniji fagocitni leukociti. 
                            Neutrofilni granulociti su zrele ćelije koje mogu da napadaju i razaraju bakterije i viruse čak i u krvnoj cirkulaciji.
                            Normalne vrednosti su 40-70%.
                            <br>
                            <strong>Monociti (MONO)</strong> zajedno sa neutrofilnim granulocitima čine osnovu fagocitnog odbrambenog sistema u organizmu. 
                            Monociti su nezrele ćelije čija je sposobnost da se bore mala, međutim, kada jednom uđu u tkiva, 
                            počinju da bubre i postaju makrofagi koji su izvanredno sposobni da se bore sa infektivnim agensima.
                            Normalne vrednosti su 1-10%.
                            <br>
                            <strong>Eozinofilni granulociti (EOS)</strong> učestvuju u obrani organizma od alergijskih agenasa i parazitarnih infekcija.
                            Normalne vrednosti su 0 – 6%.
                            <br>
                            <strong>Limfociti (LYM)</strong> predstavljaju populaciju leukocita koja uključuje dve osnovne subpopulacije: T limfocite, 
                            koji učestvuju u ćelijskom imunitetu i B limfocite koji se transformišu u plazma ćelije koje proizvode antitela i 
                            tako učestvuju u humoralnom imunitetu. Normalne vrednosti su 20 – 50%.
                            <br>
                            <strong>Bazofilni granulociti (BASO)</strong> su najmanje zastupljena populacija leukocita u perifernoj krvi i učestvuju u 
                            alergijskom odgovoru.
                            Normalne vrednosti su 0-1%.
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                        <button type='button' class="collapse-button" id="collapse-five">Trombociti, Hematokrit, Hemoglobin</button>
                        <div class="text-collapse" id="collapse-five-text">
                                <strong>Trombociti (PLT)</strong> su ćelije koje učestvuju u koagulaciji (zgrušavanju) krvi . 
                                <strong>Normlane vrednosti su 140-450 x 109/l</strong>.
                                <br>
                                <strong>Manjak</strong> trombocita (trombocitopenija) izaziva sklonost krvarenju, 
                                trombociti su sniženi kod hemioterapija, malignih oboljenja, hepatitisa C… 
                                <br>
                                <strong>Višak</strong> izaziva pojačano zgrušavanje krvi i može da dovede do stvaranja krvnog ugruška u 
                                kardiovaskularnom sistemu.
                                <br>
                                Morfološke osobine trombocita mogu se pratiti na osnovu dva indeksa koji se 
                                dobijaju elektronskim posmatranjem određenog volumena krvi u brojaču, a to su:
                                <br>
                                <strong>PDW (Raspodela trombocita po volumenu), normalne vrednosti 16-25</strong>
                                <br>
                                <strong>MPV (Prosečni volumen trombocita), normalne vrednosti 7,80-12 fl</strong>
                                <br>
                                <br>
                                <strong>Hematokrit (HCT)</strong> predstavlja volumen eritrocita u jedinici pune krvi. 
                                <br>
                                <strong>Normalne</strong> vrednosti su za žene <strong>0.356 – 0.470 l/l</strong> i kod muškaraca <strong>0.41 – 0.53 l/l.</strong> 
                                Kod akutnog krvarenja hematokrit može da bude normalan, a u fazi oporavka se smanjuje. 
                                Kod anemije usled nedostatka gvožđa hematokrit je smanjen, 
                                jer eritrociti imaju manju zapreminu iako sam broj eritrocita ne mora da bude smanjen. 
                                Hematokrit je smanjen u trudnoći, a smanjuje se i sa godinama života. 
                                Takođe je smanjen kod anemija, leukemija, povećane funkcije štitaste žlezde (hipertireoze), 
                                ciroze jetre, opekotina i infekcija. Povećane vrednosti hematokrita se viđaju kod dehidratacije i šoka.
                                <br>
                                <br>
                                <strong>Hemoglobin (HGB)</strong> je sastojak crvenih krvnih zrnaca eritrocita. 
                                On prenosi kiseonik iz pluća u tkiva i ugljen dioksid iz tkiva nazad u pluća. 
                                Svakim udahom krv u plućima dobija kiseonik i zahvaljujući upravo hemoglobinu 
                                distribuira ga do svih tkiva i organa. Kada se oslobodi kiseonik prekopotreban za nesmetani rad ćelija, 
                                za hemoglobin se umesto njega vezuje ugljen dioksid. Ovaj ciklus se zatvara vraćanjem krvi u pluća, 
                                oslobađanjem ugljen dioksida i novim vezivanjem kiseonika. 
                                <br>
                                <strong>Normalna</strong> koncentracija je <strong>110-180 g/L</strong>. 
                                Koncentracija hemoglobina je snižena kod anemija. 
                                <br>
                                <strong>Povećan</strong> je u stanjima hemokoncentracije organizma i kod policitemija.
                        </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                        <button type='button' class="collapse-button" id="collapse-six">Stanje bubrega, zglobova, jetre, elektroliti, masnoće u krvi, koštana srž</button>
                        <div class="text-collapse" id="collapse-six-text">
                            - Bubreg
                            <br>
                                <strong>Urea</strong> – normalno 1,7-8,3 mmol/l.
                                <br>
                                <strong>Kreatinin</strong> – normalno: muškarci 62-106; žene 44-80 umol/l
                                Povišene vrednosti se javljaju kod bubrežnih oboljenja. Povećana urea, a normalan kreatinin može da bude i rezultat ishrane bogate proteinima. Povišene vrednosti kreatinina mogu biti i posledica veće fizičke aktivnosti ili uzimanja steroida.
                                Smanjene vrednosti se javljaju kod trudnica i žena uopšte.
                                <br>
                                <br>
                            - Zglobovi
                            <br>
                            <strong>Mokraćna kiselina</strong> – normalna: muškarci 200-420; žene 140-340 umol/L
                            Povišene vrednosti se javljaju kod gihta (taloženja kristala mokraćne kiseline u zglobovima).
                            Snižena koncentracija nema dijagnostički značaj.
                            <br>
                            <br>
                            - Jetra
                            <br>
                            <strong>ALT</strong> – normalna: 8-41 IJ/I
                            Povišene vrednosti ukazuju na akutno oštećenje jetre, najčešće izazvano terapijom antibioticima, unosom gaziranih pića, sokova…
                            AST – normalna: 7-38 IJ/I.
                            Povišene vrednosti ukazuju na značajno oštećenje jetre ili neka druga oboljenja 
                            (na primer neka mišićna oboljenja).
                            <br>
                            <strong>Gama GT</strong> – normalna: Muškarci 8-40; Žene5-35IJ/I.
                            Povišene vrednosti se najčešće javljaju kod alkoholičara i znak su ostećenja jetre.
                            <br>
                           <strong>Bilirubin ukupni</strong> – normalan:1,1-18,8 umol/l
                            Povišene vrednosti se javljaju kod oštećenja jetre i opstrukcije žučnih puteva.
                            Snižene vrednosti nemaju dijagnostički značaj.
                            <br>
                            <br>
                            - Elektroliti
                            <br>
                            <strong>Natrijum</strong> – normalan: 139-154 mmol/l
                            Snižene vrednosti kod bubrežnih bolesnika.
                            <br>
                            <strong>Kalijum</strong> – normalan: 3,8-5,3 mmol/l
                            Povišene vrednosti kod bubrežnih bolesnika.
                            <br>
                            <br>
                            - Masnoće u krvi
                            <br>
                            <strong>Holesterol</strong> – Preporučen < 5,2; Visok > 6,2 mmol/l.
                            <br>
                            <strong>HDL holesterol (dobar)</strong> – preporučen > 1,54; Nizak < 1,0 mmol/l.
                            Dijagnostički značaj imaju snižene vrednosti HDL holesterola. 
                            U tom slučaju postoji povećan rizik nastanka kardiovaskularnih oboljenja. 
                            Što su više vrednosti HDL holesterola, to je bolje, jer ovaj holesterol “čisti” krvne sudove.
                            <br>
                            <strong>LDL holesterol (loš)</strong> – preporučen < 2,6; Visok > 4,1 mmol/l
                            Povišene vrednosti obično su povezane sa nepravilnom ishranom i stresom. 
                            Tada se povećava rizik nastanka kardiovaskularnih bolesti, pre svih ateroskleroze.
                            <br>
                            <strong>Trigliceridi</strong> – preporučen < 1,7; Visok > 2,3 mmol/l
                            Povišene vrednosti najčešće su znak nepoštovanja pravila da se ne uzima hrana 12 sati pre vađenja krvi.
                            Snižene vrednosti nemaju dijagnostički značaj.
                            <br>
                            <br>
                            - Koštana srž
                            <br>
                            <strong>Gvožđe</strong> – normalno: muškarci 10,6-28,3; žene 6,6-26,0 umol/l
                            Zajedno sa hemoglobinom, eritrocitima i parametrima koji određuju morfologiju eritrocita 
                            (MCV, MCH i MCHC) pruža uvid u stanje koštane srži. 
                            Određivanje samo gvožđa nema nikavog značaja za postavljanje dijagnoze anemije.

                        </div>
                    </div>
    </div>
</div>


<script src="scripts/collapse.js"></script>